<% provide(:title, "Contact") %>
<h1>Contact us</h1>
<p>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Email Id</th>		
  </tr>
  <tr>
    <td>Atif Iqbal Ahangar</td>
    <td>atif.hans@gmail.com</td>		
  </tr>
  <tr>
    <td>Rajat Agarwal</td>
    <td>rajat.nith@gmail.com</td>		
  </tr>
</table>
</p>

</body>
</html>
