<% provide(:title, "Help") %>
<h1>Help</h1>

<ul class="list-group">
  <li class"list-group-item"=>User has to sign up by registering their email id.</li>
  <li class"list-group-item"=>If account already exists, you can login directly into your portal.</li>
  <li class"list-group-item"=>You can add devices or remove devices from your portal.</li>
</ul>  

</body>
</html>
