<div class="center jumbotron" style="background-image: url('/assets/Elegant_Background-2.jpg');">
<h1> Welcome to Device Hub </h1>
<h2> Control all your devices from here! </h2>

<div class="list-group">
	<% if !logged_in? %>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
		<h4> or </h4>
  	<%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

</div>
