<div class="center jumbotron">
<h1> Welcome to Device Hub </h1>
<h2> Control all your devices from here! </h2>

<div class="list-group">
	<a href="#" class="btn btn-lg btn-primary">SignUp</a>
	<h4> or </h4>
  <a href="#" class="btn btn-lg btn-primary">Login</a>
</div>

</div>
